/*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *******************************************************************************/

/* Amber colors */
@amber-dark: #bc4216;
@amber-main: #f08906;
@amber-medium: #f5c4b3;
@amber-light: #fcede8;
@amber-light2: #fcedcd;

/* Amber theme */
@main-color-theme: @amber-main;
@dark-color-theme: @amber-dark;
@medium-color-theme: @amber-medium;
@light-color-theme: @amber-light;
@light2-color-theme: @amber-light2;
@font-color-for-dark: @white;
@font-color-for-main: @white;
@font-color-for-medium: @dark-color-theme;
@font-color-for-light: @dark-color-theme;
@shadow-color: @black;
@shadow-color-light: @greydark;

/* include main less theme file */
@import (less) "rainbowstone-main-theme.less";
