/*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *******************************************************************************/

/* Emerald colors */
@green-dark: #197948;
@green-main: #23af9b;
@green-medium: #7ae3ad;
@green-light: #e5f9ef;
@green-light2: #d7f9ef;

/* Emerald theme */
@main-color-theme: @green-main;
@dark-color-theme: @green-dark;
@medium-color-theme: @green-medium;
@light-color-theme: @green-light;
@light2-color-theme: @green-light2;
@font-color-for-dark: @white;
@font-color-for-main: @white;
@font-color-for-medium: @dark-color-theme;
@font-color-for-light: @dark-color-theme;
@shadow-color: @black;
@shadow-color-light: @greydark;

/* include main less theme file */
@import (less) "rainbowstone-main-theme.less";
