<?xml version="1.0"?>
<!DOCTYPE application-server PUBLIC "Orion Application Server Config" "http://www.orionserver.com/dtds/application-server.dtd">
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<application-server
    application-directory="../applications"
    deployment-directory="../application-deployments"
    >
    <rmi-config path="./rmi.xml"/>
    <!-- JMS-server config link, uncomment to activate the JMS service -->
    <!-- <jms-config path="./jms.xml" /> -->
    <log>
        <file path="../log/server.log"/>
    </log>

    <global-application name="default" path="application.xml"/>
    <global-application name="ofbiz" path="ofbiz-application.xml"/>

    <global-web-app-config path="global-web-application.xml"/>
    <web-site path="./default-web-site.xml"/>
    <web-site path="./ofbiz-http-site.xml"/>

    <!-- Compiler, activate this to specify an alternative compiler such
        as jikes for EJB/JSP compiling. -->
    <!-- <compiler executable="jikes" classpath="/myjdkdir/jre/lib/rt.jar" /> -->
</application-server>
