<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">
 <context-param>
  <description>A unique ID used to look up the WebSite entity</description>
  <param-name>webSiteId</param-name>
  <param-value>WEBTOOLS</param-value>
 </context-param>
  <listener><listener-class>org.ofbiz.webapp.control.ControlEventListener</listener-class></listener>
  <listener><listener-class>org.ofbiz.webapp.control.LoginEventListener</listener-class></listener>
  <!-- NOTE: not all app servers support mounting implementations of the HttpSessionActivationListener interface -->
  <!-- <listener><listener-class>org.ofbiz.webapp.control.ControlActivationEventListener</listener-class></listener> -->
 <servlet>
  <servlet-name>jsp</servlet-name>
  <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
  <init-param><param-name>fork</param-name><param-value>false</param-value></init-param>
  <init-param><param-name>xpoweredBy</param-name><param-value>false</param-value></init-param>
  <init-param><param-name>mappedFile</param-name><param-value>false</param-value></init-param>
  <init-param><param-name>genStrAsCharArray</param-name><param-value>true</param-value></init-param>
  <load-on-startup>3</load-on-startup>
 </servlet>
 <servlet>
  <description>Main Control Servlet</description>
  <display-name>ControlServlet</display-name>
  <servlet-name>ControlServlet</servlet-name>
  <servlet-class>org.ofbiz.webapp.control.ControlServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping><servlet-name>jsp</servlet-name><url-pattern>*.jsp</url-pattern></servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControlServlet</servlet-name>
  <url-pattern>/control/*</url-pattern>
 </servlet-mapping>

</web-app>
