.blogs {
position: inherit;
width: inherit;
font-size: 62.5%;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
padding-right: 18%;
padding-left: 14%;
}

.treeHeader, .treeHeaderCurrent {
color: black;
font-weight: bold;
text-decoration: none;
}

.treeHeaderCurrent {
color: black;
font-weight: bold;
}

.treeHeaderOutline {
color: black;
font-weight: normal;
}

.treeHeaderPage {
color: blue;
font-weight: bold;
text-decoration: none;
}

.treeHeaderSubPage {
color: blue;
font-weight: normal;
text-decoration: none;
text-align: right;
width: 100%;
}

.tocItem {
color: blue;
text-decoration: none;
}

.tocItemCurrent {
color: black;
font-weight: bold;
}

.editwrapper {
color: black;
background: #ffffff;
text-decoration: none;
margin-left: 12px;
margin-top: 2px;
border-top: 1px solid black;
border-left: 1px solid black;
}

.contentwrapper {
color: black;
background: #ffffff;
text-decoration: none;
margin-left: 12px;
margin-top: 2px;
}

.floatleft {
display: inline;
position: relative;
vertical-align: text-top;
/*float: left;*/
}

.topcentered {
display: block;
text-align: center;
}

/*
.rightjustify {
float: right;
padding-left: 5px;
display: inline;
vertical-align: top;
text-align: right;
width: 100%;
height: 100%;
}
*/
.rightjustify {
display: inline;
vertical-align: text-top;
float: right;
}

.leftjustify {
display: inline;
vertical-align: text-top;
float: left;
}

.blogheader {
color: black;
font-weight: bold;
text-align: left;
margin-left: 10px;
}

.blogtext {
color: #222222;
font-weight: normal;
text-align: left;
margin-left: 20px;
font-size: 1.0em;
}

.blogtext:hover {
background: #fffeee;    
}

.blogtitle, A.blogtitle {
color: white;
font-weight: bold;
text-align: left;
text-decoration: none;
display: inline;
}

A.blogtitle:hover {
text-decoration: underline;
}

.blogtitleboxed {
font-size: 1.1em;
color: black;
background: #D4D0C8;
text-decoration: none;
border: 1px solid black;
padding: 4px;
display: inline;
}

.bloghr {
border: 0.1em solid #999999;
color: white;
background: #000099;
padding: 4px;
height: 13px;
}

.blogwrapper {
position: relative;
background: #eeeeee;
padding: 4px;
margin-top: 6px;
font-weight: normal;
text-align: left;
}

.blogwrapper:hover {
background: #fffeee;
}

.blogcontentwrapper {
background: #f8f8f8;
font-size: 1.1em;
border: 1px solid #000000;
padding: 15px 5px 15px 5px;
margin-top: 6px;
color: black;
font-weight: normal;
text-align: left;
}

.blogcontentwrapper:hover {
background: #fffeee;
}

.responseheader, A.responseheader {
color: #000099;
font-weight: bold;
text-align: left;
text-decoration: none;
margin-left: 10px;
}

A.responseheader:hover {
color: #ff0000;
text-decoration: underline;
}

.responsetext {
color: #222222;
font-weight: normal;
text-align: left;
margin-left: 20px;
}

.responseTreeWrapper:hover {
background: #fffeee;
}

.responseTreeWrapper {
color: black;
background: #ffffff;
font-weight: normal;
text-align: left;
text-decoration: none;
margin-left: 12px;
margin-top: 2px;
border-top: 1px solid black;
border-left: 1px solid black;
}

.responseSelected {
background: #BBBBBB;
border: 1px dashed black;
}

