/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.calendar {
	border-right: 0.1em solid #cccccc;
}

.calendar tr td {
	border-bottom: 0.1em solid #cccccc;
	border-left: 0.1em solid #cccccc;
	vertical-align: top;
	padding: 0.5em;
}

.calendar .header-row td {
	background-color: #69a9d9;
	border-bottom: 0.1em solid #cccccc;
	border-left: 0.1em solid #cccccc;
	color: #ffffff;
	height: auto;
	text-align: center;
}

.calendar tr td .add-new {
	float: right;
}

.calendar tr td .h1 {
	color: #444;
	float: left;
}

.calendar .current-period {
	background-color: #ffffcc;
}

.calendar .active-period {
	background-color: #eeeeee;
}

.calendar_date_select {
	color: #fff;
	border: #777 1px solid;
	display: block;
	width: 200px;
	z-index: 1000;
}

.view-calendar {
	background: url(/images/cal.gif) no-repeat;
}

.field-lookup {
	background: url(/images/fieldlookup.gif) no-repeat;
}

/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
	position: absolute;
	z-index: 999;
}

.calendar_date_select thead th {
	font-weight: bold;
	background-color: #4682B4;
	border-top: 1px solid #777;
	border-bottom: 2px solid #777;
	color: white !important;
}

.calendar_date_select .cds_buttons {
	text-align: center;
	padding: 5px 0px;
	background-color: #4682B4;
}

.calendar_date_select .cds_footer {
	background-color: #4682B4;
	padding: 3px;
	font-size: 12px;
	text-align: center;
}

.calendar_date_select table {
	margin: 0px;
	padding: 0px;
}

.calendar_date_select .cds_header {
	background-color: #87CEEB;
	border-bottom: 2px solid #87CEEB;
	text-align: center;
}

.calendar_date_select .cds_header span {
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.calendar_date_select select {
	font-size: 11px;
}

.calendar_date_select .cds_header a:hover {
	color: #fff;
}

.calendar_date_select .cds_header a {
	width: 22px;
	height: 20px;
	text-decoration: none;
	font-size: 14px;
	color: #000 !important;
}

.calendar_date_select .cds_header a.prev {
	float: left;
}

.calendar_date_select .cds_header a.next {
	float: right;
}

.calendar_date_select .cds_header a.close {
	float: right;
	display: none;
}

.calendar_date_select .cds_header select.month {
	width: 90px;
}

.calendar_date_select .cds_header select.year {
	width: 61px;
}

.calendar_date_select .cds_buttons a {
	color: #fff;
	font-size: 9px;
}

.calendar_date_select td {
	font-size: 12px;
	width: 24px;
	height: 21px;
	text-align: center;
	vertical-align: middle;
	background-color: #87CEEB;
}

.calendar_date_select td.weekend {
	background-color: #ADD8E6;
}

.calendar_date_select td div {
	color: #fff;
}

.calendar_date_select td div.other {
	color: #888;
}

.calendar_date_select td.selected div {
	color: #000;
}

.calendar_date_select tbody td {
	border-bottom: 1px solid #FFD700;
}

.calendar_date_select td.selected {
	background-color: #fff;
}

.calendar_date_select td:hover {
	background-color: #00BFFF;
}

.calendar_date_select td.today {
	border: 1px dashed #69A2C8;
}

.calendar_date_select td.disabled div {
	color: #454545;
}

.fieldWithErrors .calendar_date_select {
	
}