/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

form {
    border: 0;
    margin: 0;
    text-align: left;
}

form label {
    font-size: 11px;
    color: #5d5644;
    margin-top: 5px;
	text-transform:uppercase;
}

form a img {
    float:none;
}

/* FORM LAYOUT */
form tbody {
	border:none;
}
form tbody tr {
	border:0px;
}

.form-row {
    clear: both;
    padding: 0px 0px 6px 0px;
}

.field-label {
}

.field-widget {
}

.field-widget input {
	width:250px;
}

/* INPUT TYPES */
input[type="radio"],input[type="checkbox"] {
	font-size: 1.1em;
	margin: 2px 0px 10px 5px;
}

input[type="text"],input[type="password"] {
	background-color: #ffffff;
	border: #ddd solid 2px;
	font-weight:bold;
	line-height:1.8em;
	margin:5px 5px 10px 5px;
	padding:2px 4px;
}

input[type="submit"],input[type="button"],input[type="reset"] {
	background-color: #ffffff;
	border: #ddd solid 2px;
    color: #444;
	font-weight:bold;
	line-height:1.8em;
	margin:5px 5px 2px 5px;
	padding:2px 4px;
	text-transform:uppercase;
}

input[type="submit"]:hover {
	color: #444;
	cursor: pointer;
	text-decoration: none;
}

input[type="file"] {
	font-size: 1.1em;
	height: 1.6em; /* force ctrl to scale with text */
}

select {
	background-color: #ffffff;
	border: #ddd solid 2px;
	font-size: 1.1em;
	height: 1.6em; /* force ctrl to scale with text */
	margin: 0.1em;
}

input:focus,.contentarea textarea:focus {
	border: 2px solid #6E2723;
}

/* VALIDATION */
input.disabled {
    border: 1px solid #ccc;
    background-color: #F2F2F2;
}

input.required, textarea.required {
    background-color: #fff !important;
}

input.validation-failed, textarea.validation-failed {
    color: #b65619;
}

input.validation-passed, textarea.validation-passed {
    border: 1px solid #7D7766;
    color: #5d5644;
}

.validation-advice {
    margin: 2px 0 2px 0;
    padding: 5px;
    color: #b65619;
    font-weight: normal;
    font-size: 10px;
}

.custom-advice {
    margin: 0;
    padding: 0;
    color: #b65619;
    font-weight: normal;
    font-size: 10px;
    clear: left;
    float: none;
}

form span.requiredLabel {
    color: #b65619;
    float: none;
}

.requiredLabel {
    color: #b65619;
    float: none;
}

/* LEGACY STYLES */

.label {
	margin:0;
	padding:0;
	font-size:11px;
	line-height:10px;
}

.buttontext,.buttontextdisabled {
	font-weight: bold;
	line-height: 1.8em;
	margin: 5px 5px 5px 0;
	padding: 2px 6px 2px 6px;
	text-transform:uppercase;
	color:#b65619;
}

.basic-form {
	margin-bottom: 1em;
}

.basic-form table {
	width: 100%;
}

.basic-form table .header-row:hover {
	background-color: #ffffff;
	color: #000000;
}

.basic-form table tr td {
	padding: 0.1em;
}

.basic-form table tr .label,.basic-form table tr .group-label {
	/* field labels for forms */
	font-weight: bold;
	text-align: right;
	padding-right: 1.5em;
	width: 1%;
}

.basic-form table tr .group-label {
	/* "header" for field label groups */
	font-size: 1.2em;
	padding: 2em 1.5em 0 0;
}

.basic-form table tr th,.basic-form table .header-row {
	font-weight: bold;
	text-align: left;
}

.basic-form table .header-row:hover,.basic-form table tr th:hover {
	background-color: #ffffff;
	color: #000000;
}

.basic-form table .header-row td {
	
}

.basic-form table .viewManyTR1,.basic-form table .alternate-row {
	/* Alternating row style */
	/* .viewManyTR1 deprecated - use .alternate-row */
	background-color: #eeeeee;
}

.basic-form table tr td .smallSubmit,.basic-form table tr td .smallSubmit:visited
	{
	background-color: #ffffff;
	color: #444;
	font-size: 1em;
	font-weight: bold;
	margin: 0.2em;
	padding: 0.1em 0.2em 0.1em 0.2em;
}

.basic-form table tr td .smallSubmit:hover,.basic-form table tr td .smallSubmit:active
	{
	color: #ff0000;
	text-decoration: none;
}

.basic-form table tr td .disabled {
	background-color: #cccccc;
	color: #333366;
	text-decoration: none;
}