/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import url("base.css");
@import url("views.css");
@import url("tables.css");
@import url("forms.css");

/************************* 
 General
*************************/
html, body, #wrapper {
    height: 100%;
    margin:0;
    padding:0;
}

body > #wrapper {
    height: auto; 
    min-height: 100%;
    padding:0;
    margin:0;
}

body {
    background:url(../images/bg.jpg) top left repeat-y;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align:left;
}

/************************* 
 Layout
*************************/
#wrapper {
    background:url(../images/wrapper-bg.jpg) top left repeat-x;
}
    
#main {
    padding-bottom: 30px;
    padding:0;
    margin:0;
}

.push {
    height:30px;
}

#footer {
    position: relative;
    margin-top: -30px; 
    height: 30px;
    clear:both;
}

#footer .footerContent {
    margin:0 0 0 230px;
    padding:0;
    float:left;
    text-align:left;
    font-size:11px;
    color:#aaa;
}

#footer .footerContent a{
    color:#888;
}

/************************* 
 Alerts
*************************/
.humanMsg {
    letter-spacing: -1px;
    position: fixed;
    top: 130px;
    left: 25%;
    width: 50%;
    text-align: center;
    z-index: 100000;
}

.humanMsg p {
    padding: .3em;
    display: inline;
}

.humanMsg a {
    display: none;
}
.eventMessage {
    background:#e5f7e3 url(../images/check.gif) no-repeat;
    background-position:7px 7px;
    border:4px solid #c5e1c8;
    font-weight:700;
    color:#005e20;
    padding:20px 8px 20px 28px;
    text-transform:uppercase;
}

.errorMessage {
    background:#ffebeb url(../images/x.gif) no-repeat;
    background-position:7px 7px;
    border:4px solid #f5c1c2;
    font-weight:700;
    color:#9e0b0f;
    padding:8px 8px 8px 28px;
    text-transform:uppercase;
}

.content-messages {
    width:400px;
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-200px;
    z-index:9999;
}

#close{
    position:absolute;
    top:-5px;
    right:-5px;
    cursor:pointer;
}

.modal-overlay{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.modal-window{
    top: 20px;
    left: 25%;
    position: absolute;
    width: 50%;
    z-index: 1000001;
    background: #EAEAEA;
    border: solid 5px #ddd;
    padding: 5px;
}
span#modal-close-btn{
    color: red;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/************************* 
 Header
*************************/
#header {
    position:relative;
    margin:0;
    padding:0;
    top:0px;
    z-index:2000;
    left:0px;
}

#header #controls {
    position:absolute;
    top:18px;
    right:30px;
    text-align:right;
}

#header #controls span {
    color:#2a2a2a;
    text-transform:uppercase;
    font-size:11px;
    margin:0 0 0 10px;
    padding:5px 0 5px 5px;
}

#header #controls span a {
    color:#2a2a2a;
    font-weight:bold;
}

#header #controls span#prefBtn a.contracted {
    background:url(../images/header-down.gif) 95% 11px no-repeat;
    color:#2a2a2a;
    cursor:pointer;
    padding:8px 24px 5px 8px;
}

#header #controls span#prefBtn a.expanded {
    border-top:2px solid #1a1a1a;
    border-right:2px solid #1a1a1a;
    border-bottom:none;
    border-left:0px solid #1a1a1a;
    padding:6px 24px 5px 6px;
    color:#fff;
    cursor:pointer;
    background:url(../images/header-up.gif) 95% 11px no-repeat #2a2a2a;
    position:relative;
    z-index:8000;
}

#preferences {
    background:#2a2a2a;
    border-top:2px solid #1a1a1a;
    border-right:2px solid #1a1a1a;
    border-bottom:0px solid #2a2a2a;
    border-left:0px solid #2a2a2a;
    height:80px;
    margin:0;
    padding:10px 5px 5px 5px;
    position:absolute;
    right:70px;
    text-align:left;
    top:18px;
    width:270px;
    z-index:4000;
}

#header #controls span #preferences span {
    float:left;
    padding:5px 0 5px 0px;
    font-size:10px;
}

#header #controls span #preferences a {
    display:inline;
    color:#f2f2f2;
    text-transform:uppercase;
    text-decoration:none;
    padding:5px 0 5px 3px;
    margin:0px 10px 0px 5px;
    font-size:10px;
    font-weight:normal;
    text-align:left;
    float:left;
    clear:left;
} 

#main-nav {
    position:absolute;
    top:6px;
    left:300px;
    width:300px;
} 

#main-nav h2 {
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-bottom:0px;
    background:url(../images/header-down.gif) 98% 15px no-repeat;
    color:#1c334d;
    text-transform:uppercase;
    padding:10px 24px 5px 8px;
    position:absolute;
    top:0px;
    z-index:9002;
    cursor:pointer;
}

#main-nav h2.expanded {
    background:url(../images/header-up.gif) 98% 14px no-repeat #2a2a2a;
    border-top:2px solid #1a1a1a;
    border-right:2px solid #1a1a1a;
    border-bottom:none;
    border-left:0px solid #1a1a1a;
    color:#fff;
    cursor:pointer;
    padding:8px 24px 5px 8px;
}

#header-nav {
    width:400px;
    background:#2a2a2a;
    border-top:1px solid #1a1a1a;
    border-right:2px solid #1a1a1a;
    border-bottom:2px solid #1a1a1a;
    border-left:0px solid #1a1a1a;
    padding:5px;
    position:absolute;
    top:32px;
    z-index:9001;
    margin:0;
}

#header-nav ul {
    list-style: none;
    padding:0;
    margin:0 5px 0 0;
    width:190px;
    float:left;
}

#header-nav li {
    width: 180px;
    margin:0;
    padding:0;
} 

#header-nav ul li a {
    display:block;
    color:#eee;
    text-transform:uppercase;
    text-decoration:none;
    width:180px;
    padding:5px 0 5px 3px;
    margin-left:5px;
    font-size:12px;
    font-weight:bold;
    border-bottom:1px dotted #666;
} 

#header-nav li a:hover {
    background: transparent;
} 

#header-nav li a.active {
    background: #000;
    color: #fff;
}

#logo {
    position:absolute;
    top:2px;
    left:5px;
    width:238px;
    height:43px;
    background:url(../images/logo.gif) top left no-repeat;
    z-index:8000;
}

#shelf {
    background:url(../images/shelf.jpg) top left no-repeat;
    height:119px;
    left:0;
    position:absolute;
    top:0;
    width:39px;
}


/************************* 
 Apps
*************************/
#app-navigation h2 {
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    font-size:25px;
    margin-bottom:0px;
    margin: 0px 0 0 0px;
    padding: 10px 10px 10px 20px;
    float:left;
    position: relative;
    
}

#app-navigation h4 {
    text-transform:uppercase;
    font-weight:bold;
    position:relative;
    z-index:6000;
    top:9px;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-bottom:0px;
    background:url(../images/dashboard-down.gif) 98% 15px no-repeat;
    color:#f2f2f2;
    text-transform:uppercase;
    padding:10px 24px 5px 6px;
    cursor:pointer;
    float:left;
}

#app-navigation h4.expanded {
    border-top:2px solid #8AC401;
    border-right:2px solid #8AC401;
    border-bottom:none;
    border-left:2px solid #8AC401;
    padding:8px 22px 3px 4px;
    margin:0px;
    margin-bottom:0px;
    cursor:pointer;
    color:#658e03;
    background:url(../images/dashboard-up.gif) 98% 13px no-repeat #DBF1AA;
}

#app-navigation {
    margin: 10px auto;
    padding:0px;
    float:left;
    position:relative;
    height:65px;
    top:50px;
    
}

#app-navigation ul {
    margin:0;
    padding:0;
}

#app-navigation ul li ul{
    width:260px;
    padding:5px;
    position:absolute;
    top:75px;
    left:5px;
    margin:0;
    z-index:3000;
}

#app-navigation ul li.selected {
    background:url(../images/app-selected-yella.gif) center left no-repeat;
}

#app-navigation ul li a {
    background:url(../images/app-bar-bg.jpg) bottom left repeat-x;
    display:block;
    color:#686868;
    text-transform:uppercase;
    text-decoration:none;
    width:180px;
    padding:10px 0 12px 3px;
    margin-left:5px;
    font-size:15px;
    font-weight:bold;
}

#app-navigation ul li a:hover {
    color:#8AC401
}

#app-navigation ul li.selected a {
    background:none;
    color:#1C334D;
}

h4#nav {
    font-weight:bold;
    text-transform:uppercase;
    color:#AD3A03;
}

h4#nav.expanded {
    
}

h4#search {
    font-weight:bold;
    text-transform:uppercase;
    color:#f2f2f2;
    font-size:16px;
    position:absolute;
    top:-60px;
    left:552px;
    padding:10px 10px 10px 10px;
    z-index:9000;
}

h4#search.expanded {
    background:#051d3c;
    border-top:3px solid #031328;
    border-right:3px solid #031328;
    border-bottom:0px solid #031328;
    border-left:3px solid #031328;
    padding:7px 7px 10px 7px;
} 

.tab-bar ul li ul {
    float:left;
    margin:-14px 0 0 -11px;
    padding:0 11px 0.5em;
    border:1px solid #ededed;
    border-width:0 1px;
    background:#f3f3f3;
}

.tab-bar ul li ul li{
    margin: 0 10px 2px 0px;
    padding: 0;
    float:left;
    color:#666;
    font-size:12px;
    text-transform:uppercase;    
}

.tab-bar ul li ul li a {
    color:#666;
    font-weight:bold;
    font-size:12px;
    padding:5px;
}

.tab-bar ul li ul li.selected a {
    color:#666;
    background:#fff;
    border:2px solid #ddd;
}

.tab-bar {
    padding:0 0 0 11px;
    margin:10px 5px 10px 0;
    background:url("../images/tsr-l.gif") top left no-repeat;
}

.tab-bar h5 {
    background:url("../images/tsr-r.gif") top right no-repeat;
    margin:0;
    padding:8px 0 0.5em 0;
    text-indent:-9999px;
}

.tab-bar div {
    margin:0 0 0 -11px;
    padding-left:11px;
    background:url("../images/tsr-l.gif") bottom left no-repeat;
    
}

.tab-bar a.close-tab {
    display:block;
    text-align:right;
    padding:0 10px 10px 0;
    margin:-18px 0 0 0;
    background:url("../images/tsr-r.gif") bottom right no-repeat;
    font-size:9px;
    color:#f3f3f3;
    height:9px;
}


/************************* 
 Content
*************************/
.contentarea {
    clear:left;
    float:left;
    margin:0px;
    padding:0px;
    position:relative;
    text-align:left;
    top:40px;
    font-size:12px;
}

#column-container {
    margin:0 0 0 230px;
    padding:0;
    float:left;
    text-align:left;
}

.left {
	border:2px solid #eee;
    display:inline;
    margin:10px 0 0 0;
    padding:5px;
    float:left;
    top:-32px;
    left:339px;
    width:320px;
    z-index:8000;
}

.left .screenlet-title-bar .h1, .screenlet-title-bar .h2, .screenlet-title-bar .h3 {
    color:#333;
}

.left .label {
    
}

.left .buttontext, .buttontextdisabled {
    color:#666;
    float:left;
}

.left form {
    float:left;
    clear:left;
}

.left .screenlet-title-bar {
    float:left;
    width:320px;
}

.left .screenlet-body {
    float:left;
    clear:left;
}

.left a {
    color:#333;
}

#sideBar{
	text-align:left;
}

#sideBar h2{
	color:#FFFFFF;
	font-size:110%;
	font-family:arial;
	margin:10px 10px 10px 10px;
	font-weight:bold !important;
}

#sideBar h2 span{
	font-size:125%;
	font-weight:normal !important;
}

#sideBar ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#sideBar li{
	margin:0px 10px 3px 10px;
	padding:2px;
	list-style-type:none;
	display:block;
	background-color:#DA1074;
	width:177px;
	color:#FFFFFF;
}

#sideBar li a{
	width:100%;
}

#sideBar li a:link,
#sideBar li a:visited{
	color:#FFFFFF;
	font-family:verdana;
	font-size:100%;
	text-decoration:none;
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:100%;
}

#sideBar li a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}



#sideBar{
	position: absolute;
	width: auto;
	height: auto;
	top: 140px;
	left:0px;
	background-image:url(../images/background-left.gif);
	background-position:top right;
	background-repeat:repeat-y;
}

#sideBarTab{
	float:left;
	height:137px;
	width:28px;
}

#sideBarTab img{
	border:0px solid #FFFFFF;
}

#sideBarContents{
	float:left;
	overflow:hidden !important;
	width:200px;
	height:320px;
}

#sideBarContentsInner{
	width:200px;
}

#content-main-section {
    float:left;
    position:relative;
    display:inline;
    padding:5px;
    margin:0px 10px 0 0;
}

