/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* BASIC NAVIGATION (VERTICAL MENU) STYLE */
.basic-nav { /* indent menu - helpful for widgets */
    padding-left: 1em;
}

.basic-nav ul { /* placeholder */
    
}

.basic-nav ul li {
    
}

.basic-nav ul a {
    color: #444;
    font-size: 1.1em;
}

.basic-nav ul .selected,.basic-nav ul .selected a {
    color: #0000ff;
}

.basic-nav ul a:hover {
    color: #0000ff;
}

.basic-nav ul .disabled,.basic-nav ul .disabled a {
    color: #D4D0C8;
}

/* BUTTON BAR NAVIGATION */
.button-bar {
    margin-bottom: 1.0em;
    width: 100%;
    
}

.button-bar ul {
    display: inline; /* IE Fix */
}

.button-bar ul li {
    float: left;
    font-weight: bold;
    padding: 0.1em 0.4em 0.1em 0.4em;
}

.button-bar ul .opposed {
    float: right;
}

.button-bar ul a,.tabContainer ul a {
    display: block;
}

.button-bar ul a,.button-bar a {
    padding: 0.1em 0.5em 0.1em 0.5em;
    white-space: nowrap;
}

.button-bar ul a:hover {
    color: #0000ff;
}

.button-bar .opposed,.button-bar .opposed li,.button-bar ul .opposed {
    float: right;
}

.button-style-1 ul li,.tabContainer ul li {
    background-color: #ffffff;
    color: #444;
}

.button-style-1 a,.button-style-1 ul a,a.button-style-1 {
    background-color: #D4D0C8;
    border: solid #444 0.1em;
    color: #444;
}

.button-style-1 .selected,.button-style-1 ul .selected,.button-style-1 ul .selected a
    {
    background-color: #444;
    color: #ffffff;
}

.button-style-1 a:hover,.button-style-1 ul a:hover,a.button-style-1:hover
    {
    background-color: #444;
    color: #ffffff;
    text-decoration: none;
}

button-style-2 ul li {
    background-color: #ffffff;
    color: #444;
}

.button-style-2 ul a,.button-style-2 a,a.button-style-2 {
    background-color: #ffffff;
    border: solid #444 0.1em;
    color: #444;
}

.button-style-2 ul .selected a,.button-style-2 .selected {
    background-color: #444;
    color: #ffffff;
}

.button-style-2 ul a:hover,.button-style-2 a:hover,a.button-style-2:hover
    {
    background-color: #444;
    color: #ffffff;
    text-decoration: none;
}

/* TOOL BARS / TAB BARS */
.tool-bar {
    background-color: #D4D0C8;
    padding: 0.2em;
}

.tool-bar ul li {
    background-color: #555;
    padding: 0.1em;
}

.tab-bar {
    position:absolute;
    top:33px;
    width:150px;
    left:-18px;
}

h4#nav {
    font-weight:bold;
    text-transform:uppercase;
    position:relative;
    z-index:2000;
    padding:5px 5px 5px 5px;
    width:190px;
    top:-15px;
}

h4#nav.expanded {
   background:#AD3A03;
   border-top:2px solid #842b01;
   border-left:2px solid #842b01;
   border-right:2px solid #842b01;
   color:#fff;
   padding:3px 3px 5px 3px;
} 

.tab-bar ul li ul {
    background:#AD3A03;
    float:left;
    border:2px solid #842b01;
    width:240px;
    
}

.tab-bar ul li ul li{
    margin: 0 0px 0px 0;
    padding: 0;
    float:left;
    clear:left;
    width:150px;
    
}

.tab-bar ul a,.tab-bar ul a:visited {
    color: #fff;
    text-decoration: none;
    margin:0px 0px 0px 0px;
    line-height:22px;
    text-transform:uppercase;
    padding:4px;
    font-size:11px;
}

.tab-bar ul a:hover,.tab-bar ul .selected,.tab-bar ul .selected a,.tab-bar ul .selected a:hover
    {
    color: #f2f2f2;
    text-decoration: none;
}

.tab-bar ul .disabled {
    color: #D4D0C8;
    padding: 0.1em 0.4em 0.1em 0.4em;
}

.tab-bar .opposed,.tab-bar .opposed li,.tab-bar ul .opposed {
    
}

/* PAGER */
.nav-pager {
    height: 2em;
    padding-bottom: 0.7em;
    padding-top: 0.4em;
}

.nav-pager ul {
    display: inline; /* IE Fix */
}

.nav-pager ul li {
    background-color: #ffffff;
    float: left;
    font-weight: bold;
    line-height: 1.8em;
    margin: 0.2em;
}

.nav-pager ul li a {
    display: block;
}

.nav-pager ul .nav-first,.nav-pager ul .nav-previous,.nav-pager ul .nav-next,.nav-pager ul .nav-last
    {
    padding: 0 1em 0 1em;
}

.nav-pager ul .nav-first-disabled,.nav-pager ul .nav-previous-disabled,.nav-pager ul .nav-next-disabled,.nav-pager ul .nav-last-disabled
    {
    color: #333333;
    padding: 0 0.5em 0 0.5em;
}

.nav-pager select {
    margin: 0;
}

#app-menu {
    position:absolute;
    top:0;
    left:0;
}

/* menu */
#menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    float: left;
    z-index: 5000;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#menu>li {
    background: #172322 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    position: relative;
    padding: 0px 10px;
}

#menu>li a:hover {
    color: #B0D730;
}

#menu .logo {
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    margin:0 25px 0 0;
    background-color: Transparent;
}

/* sub-menus*/
#menu ul {
    padding: 0px;
    margin: 0px;
    display: block;
    display: inline;
}

#menu li ul {
    position: absolute;
    left: -10px;
    top: 0px;
    margin-top: 45px;
    width: 150px;
    line-height: 16px;
    background-color: #172322;
    color: #0395CC; /* for IE */
    display: none;
    z-index:6000;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li {
    display: block;
    margin: 5px 20px;
    padding: 5px 0px;
    border-top: dotted 1px #606060;
    list-style-type: none;
}

#menu li ul li:first-child {
    border-top: none;
}

#menu li ul li a {
    display: block;
    color: #0395CC;
    text-transform:uppercase;
}

#menu li ul li a:hover {
    color: #7FCDFE;
}

#menu li ul li span.help {
    color:#fff;
    font-size:11px;
    display:block;
    text-transform:uppercase;
}

/* main submenu */
#menu #main {
    left: 0px;
    top: -5px;
    padding-top: 0px;
    background-color: #7cb7e3;
    color: #fff;
    z-index: 3000;
}

#menu #main li.reveal {
    margin:0px 5px 5px 20px;
    padding: 0px 0px 5px 0px;
}

/* search */
.searchContainer div {
    background-color: #fff;
    display: inline;
    padding: 5px;
}

.searchContainer input[type="text"] {
    border: none;
}

.searchContainer img {
    vertical-align: middle;
}

/* corners*/
#menu .corner_inset_left {
    position: absolute;
    top: 0px;
    left: -12px;
}

#menu .corner_inset_right {
    position: absolute;
    top: 0px;
    left: 150px;
}

#menu .last {
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
    border: none;
    height: 0px;
}

#menu .corner_left {
    position: absolute;
    left: 0px;
    top: 0px;
}

#menu .corner_right {
    position: absolute;
    left: 132px;
    top: 0px;
}

#menu .middle {
    position: absolute;
    left: 18px;
    height: 20px;
    width: 115px;
    top: 0px;
}


#tools-menu {
    position:absolute;
    top:0;
    left:300px;
}

/* tools */
#tools {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    float: left;
    z-index: 5000;
}

#tools a {
    color: #fff;
    text-decoration: none;
}

#tools>li {
    background: #172322 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    position: relative;
    padding: 0px 10px;
}

#tools>li a:hover {
    color: #B0D730;
}

#tools .logo {
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    margin:0 25px 0 0;
    background-color: Transparent;
}

/* sub-menus*/
#tools ul {
    padding: 0px;
    margin: 0px;
    display: block;
    display: inline;
}

#tools li ul {
    position: absolute;
    left: -10px;
    top: 0px;
    margin-top: 45px;
    width: 150px;
    line-height: 16px;
    background-color: #172322;
    color: #0395CC; /* for IE */
    display: none;
    z-index:6000;
}

#tools li:hover ul {
    display: block;
}

#tools li ul li {
    display: block;
    margin: 5px 20px;
    padding: 5px 0px;
    border-top: dotted 1px #606060;
    list-style-type: none;
}

#tools li ul li:first-child {
    border-top: none;
}

#tools li ul li a {
    display: block;
    color: #0395CC;
    text-transform:uppercase;
}

#tools li ul li a:hover {
    color: #7FCDFE;
}

#tools li ul li span.help {
    color:#fff;
    font-size:11px;
    display:block;
    text-transform:uppercase;
}

/* main submenu */
#tools #main {
    left: 0px;
    top: -5px;
    padding-top: 0px;
    background-color: #7cb7e3;
    color: #fff;
    z-index: 999;
}

#tools #main li.reveal {
    margin:0px 5px 5px 20px;
    padding: 0px 0px 5px 0px;
}

/* corners*/
#tools .corner_inset_left {
    position: absolute;
    top: 0px;
    left: -12px;
}

#tools .corner_inset_right {
    position: absolute;
    top: 0px;
    left: 150px;
}

#tools .last {
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
    border: none;
    height: 0px;
}

#tools .corner_left {
    position: absolute;
    left: 0px;
    top: 0px;
}

#tools .corner_right {
    position: absolute;
    left: 132px;
    top: 0px;
}

#tools .middle {
    position: absolute;
    left: 18px;
    height: 20px;
    width: 115px;
    top: 0px;
}

* control panel */
#cp {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    float: left;
    z-index: 5000;
}

#cp a {
    color: #fff;
    text-decoration: none;
}

#cp>li {
    background: #172322 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    position: relative;
    padding: 0px 10px;
}

#cp>li a:hover {
    color: #B0D730;
}

#cp .logo {
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    margin:0 25px 0 0;
    background-color: Transparent;
}

/* sub-menus*/
#cp ul {
    padding: 0px;
    margin: 0px;
    display: block;
    display: inline;
}

#cp li ul {
    position: absolute;
    left: 80px;
    top: -11px;
    margin-top: 45px;
    width: 300px;
    line-height: 16px;
    background-color: #172322;
    color: #0395CC; /* for IE */
    z-index:6000;
}

#cp li:hover ul {
    display: block;
}

#cp li ul li {
    display: block;
    margin: 5px 20px;
    padding: 5px 0px;
    border-top: dotted 1px #606060;
    list-style-type: none;
}

#cp li ul li:first-child {
    border-top: none;
}

#cp li ul li a {
    display: block;
    color: #0395CC;
    text-transform:uppercase;
}

#cp li ul li a:hover {
    color: #7FCDFE;
}

/* main submenu */
#cp #main {
    left: 200px;
    top: -10px;
    padding-top: 0px;
    background-color: #7cb7e3;
    color: #fff;
    z-index: 999;
}

#cp #main li.reveal {
    margin:0px 5px 5px 20px;
    padding: 0px 0px 5px 0px;
}

/* corners*/
#cp .corner_inset_left {
    position: absolute;
    top: 0px;
    left: -12px;
}

#cp .corner_inset_right {
    position: absolute;
    top: 0px;
    left: 300px;
}

#cp .last {
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
    border: none;
    height: 0px;
}

#cp .corner_left {
    position: absolute;
    left: 0px;
    top: 0px;
}

#cp .corner_right {
    position: absolute;
    left: 282px;
    top: 0px;
}

#cp .middle {
    position: absolute;
    left: 18px;
    height: 20px;
    width: 265px;
    top: 0px;
}