/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

table {
	width: 99%;
}

table tr td {
	padding: 5px 6px 5px 6px;
	border-bottom: 1px solid #cdcdcd;
}

table tr.header td {
	font: bold 1.1em Arial, Tahoma, sans-serif;
	color: #fff;
	padding: 7px 6px 7px 6px;
	background-color: #4a5154;
}

table tr.alternate {
	background-color: #f5f5ed;
}

table td.true {
	color: #009933;
}

table td.false {
	color: #990000;
}

table td.actions {
	color: #ccc;
}

table tr:hover {
	background-color: #ffffd4;
}

/* LEGACY STYLES */
.basic-table {
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 1em;
	width: 100%;
}

form .basic-table,
.screenlet-body .basic-table {
	margin-bottom: 0;
}

.basic-table tr td { /* Style for all cells */
	padding: 0.1em;
}

.basic-table tr .label,
.basic-table tr .group-label {
	/* field labels for forms */
	font-weight: bold;
	text-align: right;
	padding-right: 1.5em;
	white-space: nowrap;
	width: 1%;
}

.basic-table tr .group-label { /* "header" for field label groups */
	font-size: 1.2em;
	padding: 2em 1.5em 0 0;
}

.basic-table tr th,
.basic-table .header-row {
	font-weight: bold;
	text-align: left;
}

.basic-table .header-row td {
	
}

.basic-table .header-row td a {
	color: #000000;
}

.basic-table .alternate-row { /* Alternating row style */
	background-color: #eeeeee;
}

.basic-table .selected {
	background: #FFFCCF;
}

.basic-table .alternate-rowSelected {
	background: #FFF55F;
}

.basic-table .Validate { /*Style use by alt-row-style on list*/
	background: #A0D5F7;
}

.basic-table .alternate-rowValidate {
	/*Style use by alt-row-style on list*/
	background: #72A8F2;
}

.basic-table .Warn { /*Style use by alt-row-style on list*/
	background: #f55C5C;
}

.basic-table .alternate-rowWarn { /*Style use by alt-row-style on list*/
	background: #FC7455;
}

.basic-table tr .button-col { /* button column style - for the small collection of buttons used in lists */
	vertical-align: top;
}

.basic-table tr .button-col a {
	background-color: #ffffff;
	color: #444;
	float: left;
	margin: 0 0.1em 0 0.1em;
	padding: 0.1em 0.4em 0.1em 0.4em;
	white-space: nowrap;
}

.basic-table tr .smallSubmit,
.basic-table tr .smallSubmit:visited {
	background-color: #ffffff;
	color: #444;
	font-size: 1em;
	font-weight: bold;
	margin: 0.2em;
	padding: 0.1em 0.2em 0.1em 0.2em;
	white-space: nowrap;
}

.basic-table tr .button-col a:hover,
.basic-table tr .button-col a:active,
.basic-table tr .smallSubmit:hover,
.basic-table tr .smallSubmit:active
	{
	color: #ff0000;
	text-decoration: none;
}

.basic-table .collapsed {
	visibility: collapse;
}

.basic-table .header-row-2 th,
.basic-table .header-row-2 td {
	background-color: #999999;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
}

.basic-table .header-row-2 th .sort-order-asc,
.basic-table .header-row-2 td .sort-order-asc
	{
	background: url(/images/arrow-gr-up.png) no-repeat right;
	padding-right: 20px;
}

.basic-table .header-row-2 th .sort-order-desc,
.basic-table .header-row-2 td .sort-order-desc
	{
	background: url(/images/arrow-gr-dw.png) no-repeat right;
	padding-right: 20px;
}

.basic-table .header-row-2 th .sort-order,
.basic-table .header-row-2 td .sort-order
	{
	background: url(/images/arrow-gr.png) no-repeat right;
	padding-right: 20px;
}