/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* SCREENLETS */
.screenlet-header { 
	height : auto !important;
	height: 1%;
	padding: 5px;
	height: auto !important;
	text-transform:uppercase;
}

.boxhead {
	color:#666;
	font-size: 20px;
	font-weight: bold;
}

.screenlet-body {
	height: auto !important;
	height: 1%;
	padding: 2px 10px 10px 10px;
}

.screenlet-title-bar {
	color: #444;
	height: 1%; /* IE fix */
	min-height: 1.5em;
	height:20px;
}

.screenlet-title-bar h1,
.screenlet-title-bar h2,
.screenlet-title-bar h3,
.screenlet-title-bar .h1,
.screenlet-title-bar .h2,
.screenlet-title-bar .h3 {
	background: none;
	color:#666666;
	font-weight: bold;
	padding: 4px 0px 4px 4px;
	text-transform: uppercase;
}

.screenlet-title-bar ul {
	display: inline; /* IE Fix */
}

.screenlet-title-bar ul li {
	background: none;
	color: #4A121E;
	float: right;
	font-size: 1em;
	font-weight: bold;
	padding: 0.1em 0.5em 0.2em 0.5em;
}

.screenlet-title-bar ul h1,
.screenlet-title-bar ul h2,
.screenlet-title-bar ul h3,
.screenlet-title-bar ul .h1,
.screenlet-title-bar ul .h2,
.screenlet-title-bar ul .h3 {
	border-left: none;
	float: left;
}

.screenlet-title-bar ul a {
	color: #69a2c8;
	display: block;
}

.screenlet-title-bar ul a:visited {
	color: #69a2c8;
}

.screenlet-title-bar ul li:hover {
	
}

.screenlet-title-bar ul a:hover {
	color: #444;
	text-decoration: none;
}

.screenlet-title-bar ul .disabled {
	color: #CCCCCC;
}

.screenlet-title-bar ul .collapsed,
.screenlet-title-bar ul .collapsed:hover {
	background: url(/images/expand.gif) no-repeat center center;
	min-height: 1.1em;
	min-width: 1.1em;
}

.screenlet-title-bar ul .expanded,
.screenlet-title-bar ul .expanded:hover {
	background: url(/images/collapse.gif) no-repeat center center;
	min-height: 1.1em;
	min-width: 1.1em;
}

.screenlet-title-bar ul .collapsed a,
.screenlet-title-bar ul .expanded a { /* IE fix */
	cursor: default;
}

.screenlet-title-bar ul .h1:hover,
.screenlet-title-bar ul .h2:hover,
.screenlet-title-bar ul .h3:hover {
	
}

/* login screenlet decorator */
.login-screenlet {
	min-width: 25em;
	width: 25%;
}

.login-screenlet .screenlet-title-bar {
	text-align: center;
}

/* COLUMNS */
#content-main-section .h1 {
    font-size:22px;
    text-transform:uppercase;
    color:#666;
    font-weight:bold;
    padding:5px;
}

.left-border {
	float: left;
	margin-right: 1em;
	width: 22em;
	border-right: 0.5px dotted #ccc;
	background-color: #eee;
	height: 100%;
}

#column-container .right {
	float: right;
	margin-left: 1em;
	width: 22em;
}

#column-container .rightonly {
	margin-right: 23em;
	width: auto;
}

#column-container .center {
	margin-left: 23em;
	margin-right: 23em;
	width: auto;
}

#column-container .nocolumns {
	width: auto;
}

.column-left-wide {
	background-color: #CCCCCC;
	border: #000000 solid 0.2em;
	float: left;
	overflow: auto;
	width: 30em;
}

.widget-container {
	margin-bottom: 2em;
}

/* FIELD GROUP */
.fieldgroup-title-bar {
	font-size: 1em;
	font-weight: bold;
	padding: 0.1em 0.5em 0.2em 0.5em;
}

.fieldgroup-title-bar ul .collapsed,
.fieldgroup-title-bar ul .collapsed:hover {
	background: url(/images/expand.gif) no-repeat center center;
	min-height: 1.1em;
	min-width: 1.1em;
}

.fieldgroup-title-bar ul .expanded,
.fieldgroup-title-bar ul .expanded:hover {
	background: url(/images/collapse.gif) no-repeat center center;
	min-height: 1.1em;
	min-width: 1.1em;
}

.fieldgroup-title-bar td.collapse {
	width: 1.1em;
	cursor: default;
}

/* PORTLET CONFIGURATION */
.portlet-config {
	background-color: #D4D0C8;
	margin-bottom: 5px;
}

.portlet-config-title-bar .title {
	color: #555555;
	font-size: 1.2em;
	float: left;
}

.portlet-config-title-bar ul {
	display: inline; /* IE Fix */
}

.portlet-config-title-bar ul li {
	float: right;
	font-size: 1em;
	font-weight: bold;
	padding: 0.1em 0.5em 0.2em 0.5em;
}

.portlet-config-title-bar ul li.move-up {
	background: url(/images/arrow-single-up-green.png) no-repeat center center;
}

.portlet-config-title-bar ul li.move-down {
	background: url(/images/arrow-single-down-green.png) no-repeat center center;
}

.portlet-config-title-bar ul li.move-left {
	background: url(/images/arrow-single-left-green.png) no-repeat center center;
}

.portlet-config-title-bar ul li.move-right {
	background: url(/images/arrow-single-right-green.png) no-repeat center center;
}

.portlet-config-title-bar ul li.move-top {
	background: url(/images/arrow-end-up-green.png) no-repeat center center;
}

.portlet-config-title-bar ul li.move-bottom {
	background: url(/images/arrow-end-down-green.png) no-repeat center center;
}

.portlet-config-title-bar ul li.remove {
	background: url(/images/mini-trash.png) no-repeat center center;
}

.portlet-config-title-bar ul li.edit {
	background: url(/images/mini-edit.png) no-repeat center center;
}

/* PORTAL MANAGER */
#manage-portal-toolbar {
	background-color: #D4D0C8;
	margin-bottom: 0.5em;
}

#manage-portal-toolbar ul li {
	float: left;
	padding: 0.1em 0.5em 0.2em 0.5em;
}

#manage-portal-toolbar #config-on-off,
#manage-portal-toolbar #manage-portal-page,
#manage-portal-toolbar #add-portlet {
	float: right;
}

#manage-portal-toolbar #portal-page-name {
	font-size: 1.5em;
	font-weight: bold;
}