/*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *******************************************************************************/

/**COMMON COLOR**/
@grey-lighter: #f2f3f7;
@grey-light: #dfe0e4;
@grey: #b3b3b3;
@grey-medium: #d7dae7;
@grey-dark: #3F4254;
@grey-darker: #181c32;

@danger: #f65644;
@dangerLight: #FEDFDF;
@success: #1BC5BD;
@successLight: #C9F7F5;
@warning: #ff9100;
@warningLight: #fff6ec;

@font-color-for-dark: @grey;
@font-color-for-main: @grey-darker;
@border-color: @grey-light;
@shadow-color: rgba(72, 90, 117, 0.05);

/************************************************/

/* SAPHIR colors */
@blue: #3699ff;
@blue-light: #e1f0ff;
@blue-dark: #5d5f69;

/* RUBY colors */
@red: #f65644;
@red-light: #ffe2e5;
@red-dark: #382a28;

/* EMERALD colors */
@green: #1BC5BD;
@green-light: #dcfffd;
@green-dark: #133d3b;

/* AMBER colors */
@yellow: #FFA800;
@yellow-light: #FFF4DE;
@yellow-dark: #574217;


/* helveticus theme */
@header-color: @blue;
@footer-color: @blue;
@light-color-theme: @blue-light;
@main-color-theme: @blue;
@dark-color-theme: @blue-dark;


/* include main less theme file */
@import (less) "helveticus-main-theme.less";
