{
  "entityengine": {
    "entity-config": {
      "datasource": {
        "localsapdb": {
          "helper-class": "org.apache.ofbiz.entity.datasource.GenericHelperDAO",
          "field-type-name": "sapdb",
          "check-on-start": "true",
          "add-missing-on-start": "true",
          "fk-style": "name_fk",
          "use-fk-initially-deferred": "false",
          "join-style": "ansi-no-parenthesis",
          "read-data": [
            {
              "reader-name": "tenant"
            },
            {
              "reader-name": "seed"
            },
            {
              "reader-name": "seed-initial"
            },
            {
              "reader-name": "demo"
            },
            {
              "reader-name": "ext"
            },
            {
              "reader-name": "ext-test"
            },
            {
              "reader-name": "ext-demo"
            }
          ],
          "inline-jdbc": {
            "jdbc-driver": "com.sap.dbtech.jdbc.DriverSapDB",
            "jdbc-uri": "jdbc:sapdb://localhost/OFBIZ",
            "jdbc-username": "ofbiz",
            "jdbc-password": "ofbiz",
            "isolation-level": "ReadCommitted",
            "pool-minsize": "2",
            "pool-maxsize": "250",
            "time-between-eviction-runs-millis": "600000"
          }
//          Orion Style JNDI name
//          "jndi-jdbc": {
//            "jndi-server-name": "default",
//            "jndi-name": "comp/env/jdbc/xa/localsapdb",
//            "isolation-level": "ReadCommitted"
//          },
//          Weblogic Style JNDI name
//          "jndi-jdbc": {
//            jndi-server-name=
//            "localweblogic"
//            jndi-name=
//            "SapDBDataSource"
//          },
//          JRun4 Style JNDI name
//          "jndi-jdbc": {
//            "jndi-server-name": "default",
//            "jndi-name": "jdbc/localsapdb",
//            "isolation-level": "ReadCommitted"
//          },
//          "tyrex-dataSource": {
//            "dataSource-name": "localsapdb",
//            "isolation-level": "ReadCommitted"
//          }
        }
      }
    }
  }
}