{
  "entityengine": {
    "entity-config": {
      "datasource": {
        "localfirebird": {
          "helper-class": "org.apache.ofbiz.entity.datasource.GenericHelperDAO",
          "field-type-name": "firebird",
          "check-on-start": "true",
          "use-foreign-key-indices": "false",
          "add-missing-on-start": "true",
          "alias-view-columns": "false",
          "join-style": "ansi",
          "read-data": [
            {"reader-name": "tenant"},
            {"reader-name": "seed"},
            {"reader-name": "seed-initial"},
            {"reader-name": "demo"},
            {"reader-name": "ext"},
            {"reader-name": "ext-test"},
            {"reader-name": "ext-demo"}
          ],
          "inline-jdbc": {
            "jdbc-driver": "org.firebirdsql.jdbc.FBDriver",
//          Sample remote URI: jdbc-uri="jdbc:firebirdsql://localhost:3050//opt/interbase/data/ofbiz.gdb" -->
            "jdbc-uri": "jdbc:firebirdsql:127.0.0.1:C:\\data\\ofbiz.gdb",
            "jdbc-username": "SYSDBA",
            "jdbc-password": "masterkey",
            "isolation-level": "ReadCommitted",
            "pool-minsize": "2",
            "pool-maxsize": "250",
            "time-between-eviction-runs-millis": "600000",
          }
//          Orion Style JNDI name
//          "jndi-jdbc": {
//            "jndi-server-name": "default",
//            "jndi-name": "comp/env/jdbc/xa/localfirebird",
//            "isolation-level": "ReadCommitted",
//          },
//          "tyrex-dataSource": {
//            "dataSource-name": "firebird",
//            "isolation-level": "ReadCommitted",
//          }
        }
      }
    }
  }
}
