/*
According to http://markmail.org/message/s75sf6zhtizzkqbv Since version V6R1 (AS/400, db2) there is no need for an own fieldtype.xml
just use the h2-fieldtypes.
Beware use-indices-unique="false" is needed because of
 Derby bug with null values in a unique index, not sure it's needed with DB2
*/
{
  "entityengine": {
    "entity-config": {
      "datasource": {
        "DB2": {
          "helper-class": "org.apache.ofbiz.entity.datasource.GenericHelperDAO",
          "schema-name": "OFBIZ",
          "field-type-name": "h2",
          "check-on-start": "true",
          "add-missing-on-start": "true",
          "use-pk-constraint-names": "false",
          "use-indices-unique": "false",
          "alias-view-columns": "false",
          "use-order-by-nulls": "true",
          "offset-style": "fetch",
          "read-data": [
            {"reader-name": "tenant"},
            {"reader-name": "seed"},
            {"reader-name": "seed-initial"},
            {"reader-name": "demo"},
            {"reader-name": "ext"},
            {"reader-name": "ext-test"},
            {"reader-name": "ext-demo"}
          ],
          "inline-jdbc": {
//            There is an open source version of the jdbc driver at sourceforge: http://sourceforge.net/projects/jt400/
            "jdbc-driver": "com.ibm.as400.access.AS400JDBCDriver",
            "jdbc-uri": "jdbc:as400:192.168.1.10;prompt=false;libraries=ofbiz;lazyclose=true;translate binary=true",
            "jdbc-username": "ofbiz",
            "jdbc-password": "ofbiz",
            "isolation-level": "ReadCommitted",
            "pool-minsize": "2",
            "pool-maxsize": "250",
            "time-between-eviction-runs-millis": "600000"
          }
        }
      }
    }
  }
}
