/*
The following has been tested with SQL Server 2005 + MS SQL Server JDBC Driver 1.1
Tips:
1. Make sure your SQL Server has mixed mode authentication as per this post:
http://aspadvice.com/blogs/plitwin/archive/2006/09/10/Login-failed-_2E002E002E00_-not-associated-with-a-trusted-SQL-server-connection.aspx
2. Make sure you have copied JDBC driver jar to entity/lib/jdbc
3. Make sure you have installed JDBC Driver XA support as per MSSQL_JDBC_HOME/enu/xa/xa_install.sql
4. Make sure that you have created and authorized the ofbiz database and login
5. Make sure that schema-name, jdbc-username, jdbc-password and databaseName are all correct!

Notes:
a. The reason for putting SelectMethod=cursor property in URL is explained here:
http://forum.java.sun.com/thread.jspa?forumID=48&threadID=184797
b. If using an old version of the driver, beware of this resource leak:
http://support.microsoft.com/kb/820773/
c. Demo data are in conflict with Entity Unique Index when loading data
This is a known issue with MsSQL since https://markmail.org/message/mezqxb3eyzz3xpv6
The problem does not exist with Derby, nor with the mostly open source DBMS used with OFBiz: Postres, MySQL, MariaDB, etc.
So we will not change the current OOTB setting and suggest to simply change your own configuration. See OFBIZ-11998 for more.
*/
{
  "entityengine": {
    "entity-config": {
      "datasource": {
        "localmssql": {
          "helper-class": "org.apache.ofbiz.entity.datasource.GenericHelperDAO",
          "schema-name": "dbo",
          "field-type-name": "mssql",
          "check-on-start": "true",
          "add-missing-on-start": "true",
          "join-style": "ansi",
          "alias-view-columns": "false",
          "use-fk-initially-deferred": "false",
          "read-data": [
            { "reader-name": "tenant" },
            { "reader-name": "seed" },
            { "reader-name": "seed-initial" },
            { "reader-name": "demo" },
            { "reader-name": "ext" },
            { "reader-name": "ext-test" },
            { "reader-name": "ext-demo" }
          ],
          "inline-jdbc": {
            "jdbc-driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
            "jdbc-uri": "jdbc:sqlserver://localhost:1791;databaseName=ofbiz;SelectMethod=cursor;",
            "jdbc-username": "ofbiz",
            "jdbc-password": "ofbiz",
            "isolation-level": "ReadCommitted",
            "pool-minsize": "2",
            "pool-maxsize": "250",
            "time-between-eviction-runs-millis": "600000"
          }
          //          Orion Style JNDI name
          //          "jndi-jdbc": {
          //            "jndi-server-name": "default",
          //            "jndi-name": "comp/env/jdbc/xa/localmssql",
          //            "isolation-level": "ReadCommitted"
          //          }
        }
      }
    }
  }
}
