/* Tooltips CSS definitions */

.tooltip {
	position: absolute!important;
	overflow:hidden;
	font-size: 12px;
	z-index: 10000!important;
}
	.tooltip .xtop, .tooltip .xbottom { display: block; background: transparent; font-size: 1px; }
	.tooltip .xb1, .tooltip .xb2, .tooltip .xb3, .tooltip .xb4 { display: block; overflow: hidden; }
	.tooltip .xb1, .tooltip .xb2, .tooltip .xb3 { height: 1px; }
	.tooltip .xb2, .tooltip .xb3, .tooltip .xb4 { background: #666; border-left: 1px solid #333; border-right: 1px solid #333; }
	.tooltip .xbottom .xb2, .tooltip .xbottom .xb3, .tooltip .xbottom .xb4 { background: #666; }
	.tooltip .xb1 { margin: 0 5px; background: #333; }
	.tooltip .xb2 { margin: 0 3px; border-width: 0 2px; }
	.tooltip .xb3 { margin: 0 2px; }
	.tooltip .xb4 { height: 2px; margin: 0 1px; }

	.tooltip .xboxcontent {
		padding: 0 .5em;
		margin: 0;
		color: #000;
		text-shadow: 2px 2px 0px #CCC;
		word-wrap:break-word;
		border: 1px solid #333;
		border-width: 0px 1px 0 1px;
		background-color: #666;
	}