<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<Domain ConfigurationVersion="8.1.2.0" Name="examples">
    <Server COMEnabled="true" ConsoleInputEnabled="false"
        JavaCompiler="javac" ListenAddress="" ListenPort="7001"
        Name="examplesServer" ServerVersion="8.1.2.0" SocketReaderTimeoutMaxMillis="10">
        <SSL Enabled="true" IdentityAndTrustLocations="KeyStores"
            ListenPort="7002" Name="examplesServer"/>
    </Server>

    <Application Deployed="true" Name="mainWebApp"
        Path="C:\bea\weblogic81\samples\server\examples\build" TwoPhase="true">
        <WebAppComponent Name="mainWebApp" Targets="examplesServer" URI="mainWebApp"/>
    </Application>
    <Application Deployed="true" Name="examplesWebApp"
        Path="C:\bea\weblogic81\samples\server\examples\build" TwoPhase="true">
        <WebAppComponent Name="examplesWebApp" Targets="examplesServer" URI="examplesWebApp"/>
    </Application>
    <StartupClass ClassName="examples.cluster.rmi.HelloClusterImpl"
        FailureIsFatal="false" Name="hello_cluster"/>
    <StartupClass ClassName="examples.startup.StartBrowser"
        FailureIsFatal="false" Name="StartBrowser"
        Notes="On Windows, this class automatically starts a browser after the server has finished booting." Targets="examplesServer"/>
    <StartupClass ClassName="examples.rmi.hello.HelloImpl"
        FailureIsFatal="false" Name="hello"/>
    <StartupClass ClassName="examples.rmi.multihello.HelloImpl"
        FailureIsFatal="false" Name="multihello"/>
    <StartupClass
        Arguments="connectionFactory=weblogic.examples.jms.TopicConnectionFactory,topic=weblogic.examples.jms.exampleTopic"
        ClassName="examples.jms.startup.ServerReceive"
        FailureIsFatal="false" Name="serverReceive"/>
    <StartupClass
        Arguments="connectionFactory=weblogic.examples.jms.TopicConnectionFactory,topic=weblogic.examples.jms.exampleTopic"
        ClassName="examples.jms.startup.PoolReceive"
        FailureIsFatal="false" Name="poolReceive"/>
    <JMSConnectionFactory
        JNDIName="weblogic.examples.jms.QueueConnectionFactory"
        Name="exampleQueue" Targets="examplesServer"/>
    <JMSConnectionFactory
        JNDIName="weblogic.examples.jms.TopicConnectionFactory"
        Name="exampleTopic" Targets="examplesServer"/>
    <JMSConnectionFactory JNDIName="jms.connection.traderFactory"
        Name="exampleTrader" Targets="examplesServer"/>
    <JMSJDBCStore ConnectionPool="demoPool" Name="exampleJDBCStore" PrefixName="examples"/>
    <JMSServer Name="examplesJMSServer" Store="exampleJDBCStore" Targets="examplesServer">
        <JMSQueue JNDIName="weblogic.examples.jms.exampleQueue" Name="exampleQueue"/>
        <JMSQueue JNDIName="weblogic.examples.jms.exampleQueueReceive" Name="exampleQueueReceive"/>
        <JMSQueue JNDIName="weblogic.examples.jms.exampleQueueSend" Name="exampleQueueSend"/>
        <JMSTopic JNDIName="weblogic.examples.jms.exampleTopic" Name="exampleTopic"/>
        <JMSTopic JNDIName="quotes" Name="quotes"/>
    </JMSServer>
    <JDBCConnectionPool CapacityIncrement="2"
        DriverName="oracle.jdbc.driver.OracleDriver" InitialCapacity="4"
        LoginDelaySeconds="1" MaxCapacity="10" Name="oraclePool"
        Password="{3DES}aioYCP/l27g=" Properties="user=SCOTT"
        RefreshMinutes="10" ShrinkPeriodMinutes="15"
        ShrinkingEnabled="true" TestConnectionsOnRelease="false"
        TestConnectionsOnReserve="false" TestTableName="dual" URL="jdbc:oracle:thin:@server:port:sid"/>
    <JDBCConnectionPool CapacityIncrement="1"
        DriverName="com.pointbase.xa.xaDataSource" InitialCapacity="2"
        MaxCapacity="10" Name="demoXAPool"
        Password="{3DES}29v4cTle6wsdsjHHe3l0AA=="
        Properties="user=examples;DatabaseName=jdbc:pointbase:server://localhost/demo"
        RefreshMinutes="0" ShrinkPeriodMinutes="15"
        ShrinkingEnabled="true" Targets="examplesServer"
        TestConnectionsOnRelease="false"
        TestConnectionsOnReserve="false" TestTableName="SYSTABLES" URL="jdbc:pointbase:server://localhost/demo"/>
    <JDBCConnectionPool CapacityIncrement="1"
        DriverName="com.pointbase.jdbc.jdbcUniversalDriver"
        InitialCapacity="1" MaxCapacity="10" Name="demoPool"
        Password="{3DES}29v4cTle6wsdsjHHe3l0AA=="
        Properties="user=examples" RefreshMinutes="0"
        ShrinkPeriodMinutes="15" ShrinkingEnabled="true"
        Targets="examplesServer" TestConnectionsOnRelease="false"
        TestConnectionsOnReserve="false" TestTableName="SYSTABLES" URL="jdbc:pointbase:server://localhost/demo"/>
    <JDBCTxDataSource EnableTwoPhaseCommit="true"
        JNDIName="examples-dataSource-oracleXAPool"
        Name="examples-dataSource-oracleXAPool" PoolName="oraclePool"/>
    <JDBCTxDataSource EnableTwoPhaseCommit="true"
        JNDIName="examples-dataSource-demoPool"
        Name="examples-dataSource-demoPool" PoolName="demoPool" Targets="examplesServer"/>
    <JDBCTxDataSource EnableTwoPhaseCommit="false"
        JNDIName="examples-dataSource-demoXAPool"
        Name="examples-dataSource-demoXAPool" PoolName="demoXAPool" Targets="examplesServer"/>

    <JTA AbandonTimeoutSeconds="86400"
        BeforeCompletionIterationLimit="100" ForgetHeuristics="false"
        MaxTransactions="10000" MaxUniqueNameStatistics="1000"
        Name="examples" TimeoutSeconds="100"/>
    <Security Name="examples"
        PasswordPolicy="wl_default_password_policy"
        Realm="wl_default_realm" RealmSetup="true"/>
    <EmbeddedLDAP
        Credential="{3DES}GRR8WNEewgLkiUuYq3U8O9D1CBZ+KHfTIsDc1KH8OUo=" Name="examples"/>
    <SecurityConfiguration
        Credential="{3DES}8awKNTzSHpKbfdq0pSsIIUi8zgNWEWZ2FPqhpZYybeuOt5mVd3zYkiHeVLIYINH8RroM0oiREkhtKX+YbjTsv5Wim4ytFOP2"
        Name="examples" RealmBootStrapVersion="1"/>
    <Realm FileRealm="wl_default_file_realm" Name="wl_default_realm"/>
    <FileRealm Name="wl_default_file_realm"/>
    <PasswordPolicy Name="wl_default_password_policy"/>

    <Application Name="_appsdir_ejb20_basic_statelessSession_ear"
        Path="C:\bea\weblogic81\samples\domains\examples\applications\ejb20_basic_statelessSession.ear"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="ejb20_basic_statelessSession.jar"
            Targets="examplesServer" URI="ejb20_basic_statelessSession.jar"/>
    </Application>
    <Application Name="_appsdir_ejb20_message_ear"
        Path="C:\bea\weblogic81\samples\domains\examples\applications\ejb20_message.ear"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="ejb20_message.jar" Targets="examplesServer" URI="ejb20_message.jar"/>
    </Application>
    <Application Name="_appsdir_ejb20_basic_statefulSession_ear"
        Path="C:\bea\weblogic81\samples\domains\examples\applications\ejb20_basic_statefulSession.ear"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="ejb20_basic_statefulSession.jar"
            Targets="examplesServer" URI="ejb20_basic_statefulSession.jar"/>
    </Application>
    <Application Name="_appsdir_ejb20_basic_containerManaged_ear"
        Path="C:\bea\weblogic81\samples\domains\examples\applications\ejb20_basic_containerManaged.ear"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="ejb20_basic_containerManaged.jar"
            Targets="examplesServer" URI="ejb20_basic_containerManaged.jar"/>
    </Application>
    <Application Name="_appsdir_webservices_trader_ear"
        Path="C:\bea\weblogic81\samples\domains\examples\applications\webservices_trader.ear"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <WebServiceComponent Name="webservice" Targets="examplesServer" URI="trader_service.war"/>
        <EJBComponent Name="trader.jar" Targets="examplesServer" URI="trader.jar"/>
    </Application>
    <Application Name="_appsdir_jta_ejb_jmsjdbc_jar"
        Path="C:\bea\weblogic81\samples\domains\examples\applications"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="jta_ejb_jmsjdbc" Targets="examplesServer" URI="jta_ejb_jmsjdbc.jar"/>
    </Application>
    <Application Name="_appsdir_ejb20_basic_beanManaged_ear"
        Path="C:\bea\weblogic81\samples\domains\examples\applications\ejb20_basic_beanManaged.ear"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="ejb20_basic_beanManaged.jar"
            Targets="examplesServer" URI="ejb20_basic_beanManaged.jar"/>
    </Application>
    <Application Name="_appsdir_jms_messageformat_jar"
        Path="C:\bea\weblogic81\samples\domains\examples\applications"
        StagedTargets="examplesServer" StagingMode="stage" TwoPhase="true">
        <EJBComponent Name="jms_messageformat" Targets="examplesServer" URI="jms_messageformat.jar"/>
    </Application>

	<!-- BEGIN OFBiz settings -->
<#list webApps as webapp>
    <#-- Remove last directory segment from path, Weblogic is expecting the parent directory -->
    <#if webapp.getLocation().lastIndexOf("/") != -1>
        <#assign lastSlash = webapp.getLocation().lastIndexOf("/")>
    </#if>
    <#if (webapp.getLocation().lastIndexOf("\\") > lastSlash)>
        <#assign lastSlash = webapp.getLocation().lastIndexOf("\\")>
    </#if>
    <Application Deployed="true" Name="${webapp.getName()}" Path="${webapp.getLocation().substring(0,lastSlash)}" TwoPhase="true">
        <WebAppComponent Name="${webapp.getName()}" Targets="examplesServer" URI="${webapp.getContextRoot()}"/>
    </Application>
</#list>

    <JDBCConnectionPool CapacityIncrement="1"
        DriverName="org.hsqldb.jdbcDriver"
        InitialCapacity="2" MaxCapacity="20" Name="localhsql"
        Password=""
        Properties="user=sa" RefreshMinutes="0"
        ShrinkPeriodMinutes="15" ShrinkingEnabled="true"
        Targets="examplesServer" TestConnectionsOnRelease="false"
        TestConnectionsOnReserve="false" URL="jdbc:hsqldb:data/ofbiz"/> <!--  TestTableName="SYSTABLES" -->
    <JDBCTxDataSource EnableTwoPhaseCommit="true"
        JNDIName="localhsqlDataSource"
        Name="localhsqlDataSource" PoolName="localhsql"/>
</Domain>
