/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Make sure the layout is centered in IE5 */
body {
    text-align: center;
}

.container {
    text-align: left;
}

/* Fixes IE margin bugs */
* html .column {
    overflow-x: hidden;
}

/* Fixes incorrect styling of legend in IE6. */
* html legend {
    margin: -18px -8px 16px 0;
    padding: 0;
}

/* Fixes incorrect placement of ol numbers in IE6/7. */
ol {
    margin-left: 2em;
}

/* Fixes wrong line-height on sup/sub in IE. */
sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* Fixes IE7 missing wrapping of code elements. */
html > body p code {
    *white-space: normal;
}
