/* Make sure the icons are not cut */
a[href^="http:"], a[href^="mailto:"], a[href^="http:"]:visited, 
a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], 
a[href$=".rdf"], a[href^="aim:"] {
  padding:2px 22px 2px 0;
  margin:-2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}

/* External links */
a[href^="http:"]{ 
    background-image: url(../images/icons/external.png); 
} 
a[href^="mailto:"]{ 
    background-image: url(../images/icons/email.png); 
}


/* Files */
a[href$=".pdf"]{ 
    background-image: url(../images/icons/pdf.png); 
}
  
a[href$=".doc"]{ 
    background-image: url(../images/icons/doc.png); 
} 
 
a[href$=".xls"]{ 
    background-image: url(../images/icons/xls.png); 
}  
 
/* Misc */
a[href$=".rss"], 
a[href$=".rdf"]{ 
    background-image: url(../images/icons/feed.png); 
}

a[href^="aim:"]{ 
    background-image: url(../images/icons/im.png); 
}

/* Use this class if a link gets an icon when it shouldn't. */
body a.noicon { 
    background:none; 
    padding:0; 
    margin:0; 
}
