/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.calendarempty {vertical-align: top; background: #FFFFFF; padding: 0.4em;}
.calendarentry {vertical-align: top; background: #EEF3FB; padding: 0.4em; }
.monthcalendarentry {vertical-align: top; background: #EEF3FB; padding: 0.4em; border-top: solid 0.1em #B6C7E5; }
.calendar {
	background: #1E3C66;
}
.bg {
	background: #FFFFFF;
}

.monthweekheader {
	padding: 0.4em;
	background: #AFC8D4;
}

.monthweeknumber {
	font-weight: bold;
	color: #1E3C66;
}

A.monthweeknumber {
	font-size: 1.1em;
	font-weight: bold;
	color: #1E3C66;
	text-decoration: none;
}

A.monthweeknumber:hover, visited, selected {
	font-size: 1.1em;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.monthdaynumber {
	font-size: 1.3em;
	font-weight: bold;
	color: #000000;
	padding-left: 0.1em;
	padding-bottom: 0.3em;
}

A.monthdaynumber {
	color: #000000;
	text-decoration: none;
}

A.monthdaynumber:hover, visited, selected {
	color: #000000;
	text-decoration: underline;
}

A.previousnext{
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

A.previousnext:hover {
	color: #000000;
	text-decoration: underline;
}

.monthdayheader {
	font-size: 1.1em;
	font-weight: bold;
	color: #FFFFFF;
	background: #1E3C66;
	padding: 0.4em;
}

.monthheadertable {
	border-left: solid 0.1em #1E3C66;
	border-right: solid 0.1em #1E3C66;
	padding: 0.4em;
	background: #AFC8D4;
}

.monthheadertext {
	font-size: 1.8em;
	font-weight: bold;
	color: #1E3C66;
}
.previousnextmiddle {
	color: #7D90B1;
}

a.add {
	color: #5886C6;
	font-weight: normal;
	text-decoration: none;
}

a.add:hover {
	color: #000000;
	font-weight: normal;
	text-decoration: underline;
}

a.event {
	color: #5886C6;
	font-weight: bold;
	text-decoration: none;
}

a.event:hover {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

