
/* This CSS file is used for all OFBiz applications EXCEPT ecommerce. */
/* See the "ecommain.css" file for ecommerce. */

/* ===== General Styles ===== */
BODY {
background: #D4D0C8;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

FORM {
margin: 0px;
}

UL {
margin-top: 0;
margin-bottom: 0;
}

.endcolumns {
clear: both;
height: 0px;
visibility: hidden;
}

.head1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 12pt;
font-weight: bold;
color: #000099;
}

.head2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 10pt;
font-weight: bold;
color: #000000;
}

.head3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
color: #000000;
}

.info {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 10px;
font-style: normal;
color: #000000;
}

DIV.graybox {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
background: #CCCCCC;
border: 1px solid #000000;
text-align: center;
margin: 2px auto;
width: auto;
padding: 4px;
}

DIV.tabletexthidden {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
visibility: hidden;
}

A.tabletext, DIV.tabletext, SPAN.tabletext, P.tabletext, .tabletext {
font-size: 10px;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

A.tabletext:hover {
font-size: 10px;
text-decoration: underline;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tabletextright {
font-size: 10px;
text-decoration: none;
font-family: Verdana, Arial, Helvettica, sans-serif;
text-align: right;
}

.tabletextcenter {
font-size: 10px;
text-decoration: none;
font-family: Verdana, Arial, Helvettica, sans-serif;
text-align: center;
}

.tablebuttontext {
font-size: 10px;
color: #1E3C66;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.contenttext {
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.headerboxoutside {
background: #FFFFFF;
padding: 0;
}

.headerboxtop {
background: #FFFFFF;
padding: 4px;
border-color: #FFFFFF;
border-style: solid;
border-width: 1px 1px 0px 1px;
}

.headerboxbottom {
background: #FFFFFF;
padding: 0;
border-color: #FFFFFF;
border-style: solid;
border-width: 0px 1px 1px 1px;
}

.boxhead {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

DIV.boxtop {
margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;
padding: 0; text-align: center;
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #000099;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 4px;
padding-left: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

DIV.boxhead-left {
border: none; float: left; margin: 0; padding: 0; width: auto;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

DIV.boxhead-fill {
margin: 0; padding: 0; border: none; text-align: center; width: 0;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

DIV.boxhead-right {
border: none; float: right; margin: 0; padding: 0; width: auto;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

A.boxheadbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
}

A.boxheadbutton:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: red;
}

.boxoutside {
background: #FFFFFF;
padding: 0px;
border-color: #999999;
border-style: solid;
border-width: 1px 1px 1px 1px;
}

.boxtop {
background: #000099;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 4px;
padding-left: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

.boxbottom {
background: #FFFFFF;
padding: 4px;
border-color: #999999;
border-style: solid;
border-width: 0px 0px 0px 0px;
}

.button {
border-style: outset; border-color: #9999CC; border-width: 2px;
background: #dddddd;
padding-right: 5px; padding-left: 5px;
}

/* ===== Tab/Button Bar Styles ===== */
.tabContainer {
background: #FFFFFF;
padding-top: 4px;
margin-bottom: 10px;
}

A.tabButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background: #D4D0C8;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
white-space: nowrap;
border: solid #000099 1px;
}

A.tabButton:hover {
color: #FFFFFF;
background: #000099;
border: solid #000099 1px;
}

A.tabButtonSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #FFFFFF;
background: #000099;
padding-right: 5px;
padding-left: 5px;
padding-top: 1px;
padding-bottom: 1px;
white-space: nowrap;
border: solid #000099 1px;
}

A.tabButtonSelected:hover {
color: #FFFFFF;
border: solid #000099 1px;
}

.tableheadtext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: black;
}

A.tableheadbutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: black;
}

A.tableheadbutton:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: underline;
color: red;
}

.browsecategorytext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
text-indent: -10px;
}

A.browsecategorybutton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.browsecategorybutton:hover {
color: #000099;
text-decoration: underline;
}

.browsecategorybuttondisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #333333;
}

A.buttontext, .buttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
background: white;
border: #999999 solid 1px;
margin: 2px 2px 2px 2px;
padding: 1px 4px 1px 4px;
}

A.buttontext {
color: #000099;
}

A.buttontext:hover {
color: red;
text-decoration: underline;
}

A.linktext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.linktext:hover {
color: red;
text-decoration: underline;
}

.buttontextdisabled {
color: #333333;
}

A.headerbuttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}


A.headerbuttontext:hover {
color: black;
text-decoration: underline;
}

.submenutextinfo {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: white;
padding-left: 5px;
padding-right: 5px;
border-right: 1px solid #5886C6
}

.submenutext, A.submenutext, A.submenutext:visited {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: yellow;
padding-left: 2px;
padding-right: 5px;
border-right: 1px solid #5886C6
}

A.submenutext:hover {
color: yellow;
text-decoration: underline;
}

.submenutextdisabled, A.submenutextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
padding-left: 2px;
padding-right: 5px;
border-right: 1px solid #5886C6
}

A.submenutextdisabled:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: underline;
color: yellow;
}

.submenutextinforight {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: white;
padding-left: 2px;
}

.submenutextright, A.submenutextright {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: yellow;
padding-left: 2px;
}

A.submenutextright:hover {
color: yellow;
text-decoration: underline;
}

.submenutextrightdisabled, A.submenutextrightdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
padding-left: 2px;
}

A.submenutextrightdisabled:hover {
text-decoration: underline;
color: yellow;
}

A.lightbuttontext {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: yellow;
border: none;
}

A.lightbuttontext:hover {
color: yellow;
text-decoration: underline;
}

A.lightbuttontextsmall {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8px;
font-weight: bold;
text-decoration: none;
color: yellow;
border: none;
}

A.lightbuttontextsmall:hover {
color: yellow;
text-decoration: underline;
}

.lightbuttontextdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #CCCCCC;
}

A.buttontextbig, .buttontextbigdisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
text-decoration: none;
background: white;
border: #999999 solid 1px;
margin: 2px 2px 2px 2px;
padding: 1px 4px 1px 4px;
}
A.buttontextbig {
color: #000099;
}
.buttontextbigdisabled {
color: #CCCCCC;
}
A.buttontextbig:hover {
color: red;
text-decoration: underline;
}

A IMG.imageborder {
border-style: solid;
border-width: 1px;
border-color: #999999;
}

.headerButtonLeft {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background: #B4B0AA;
border-right: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonLeft:hover {
background: #D4D0C8;
color: black;
text-decoration: underline;
}

.headerButtonLeftSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background: #D4D0C8;
border-right: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerButtonRight {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background: #B4B0AA;
border-left: solid white 1px;
padding-right: 10px;
padding-left: 10px;
text-align: right;
}

.headerButtonRight:hover {
background: #D4D0C8;
color: black;
text-decoration: underline;
}

.headerButtonRightSelected {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background: #D4D0C8;
border-left: solid white 1px;
padding-right: 10px;
padding-left: 10px;
}

.headerCenter {
background: #B4B0AA;
padding-right: 10px;
padding-left: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000000;
}

A.headerCenter {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
background: #D4D0C8;
padding-right: 10px;
padding-left: 10px;
}

A.headerCenter:hover {
background: #D4D0C8;
color: black;
text-decoration: underline;
}

.headerCenterSelected {
background: #D4D0C8;
padding-right: 10px;
padding-left: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #000000;
}

.headerCompanyName {
margin: 0px;
font-size: 12pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000099;
white-space: nowrap;
}

.headerCompanySubtitle {
margin: 0px;
font-size: xx-small;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #330099;
white-space: nowrap;
}

.insideHeaderText {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: black;
}

A.insideHeaderLink {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000099;
}

A.insideHeaderLink:hover {
color: black;
text-decoration: underline;
}

.insideHeaderDisabled {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #666666;
}

.headersmalltext {
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: black;
}
a.headersmalllink {
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000099;
text-decoration: none;
}
a.headersmalllink:hover {
color: red;
}

HR.sepbar {
font-size: xx-small;
width: 100%;
height: 1px;
background: #999999;
border-width: 0px;
}

.errorMessage {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
color: red;
}

.eventMessage {
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0px;
font-size: 8pt;
font-weight: bold;
color: #000099;
}

.ontab {
font-size: 8pt;
background: black;
padding: 2px;
border-style: inset;
border-width: 3px;
}

a.onlnk {
font-size: 8pt;
font-weight: bold;
color: #FFFFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 2px;
}

.offtab {
font-size: 10px;
background: #CCCCCC;
padding: 2px;
border-style: outset;
border-width: 3px;
}

a.offlnk {
font-size: 10px;
font-weight: bold;
color: #000099;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
padding: 2px;
}

a.offlnk:hover {
color: red;
}

.areaheader {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #FFFFFF;
width: 100%;
background: black;
padding: 2px;
}

.edittable {
border-color: #000000 #000000 #003333;
border-style: solid;
border-top-width: thin;
border-right-width: thin;
border-bottom-width: thin;
border-left-width: thin
}

.viewOneTR1 {
background: #B4B0AA;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewOneTR2 {
background: #D4D0C8;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyHeaderTR {
background: #99CCFF;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyTR1 {
background: #D4D0C8;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.viewManyTR2 {
background: #FFFFFF;
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.editInputBox {
background: #FFFFFF;
font-size: 8pt;
font-family: Verdana, Arial, Helvetica, sans-serif;
background: white;
border: #999999 solid 1px;
margin: 2px;
}

.inputBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF;
font-size: 8pt;
background: white;
border: #999999 solid 1px;
margin: 2px;
}

.selectBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF;
font-size: 8pt;
background: white;
border: #999999 solid 1px;
margin: 2px;
}

.textAreaBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF;
font-size: 8pt;
background: white;
border: #999999 solid 1px;
margin: 2px;
}

.radioButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF;
font-size: 8pt;
}

.checkBox {
font-family: Verdana, Arial, Helvetica, sans-serif;
background: #FFFFFF;
font-size: 8pt;
}

.smallSubmit {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
text-decoration: none;
color: #000099;
background: white;
border: #999999 solid 1px;
margin: 2px;
}

.mediumSubmit,.largeSubmit,.loginButton {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: bold;
text-decoration: none;
color: #000099;
background: white;
border: #999999 solid 1px;
margin: 2px;
}

.smallSubmit:hover,.mediumSubmit:hover,.largeSubmit:hover,.loginButton:hover {
color: red;
text-decoration: underline;
}

.smallAltSubmit,.mediumAltSubmit,.largeAltSubmit {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 8pt;
}

.basePrice {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: black;
}

.normalPrice {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: green;
}

.salePrice {
font-size: 10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: red;
}

/* Form layout styles to simulate a table-style layout */
.form-row {
clear: both;
padding-top: 2px;
}
.form-label {
float: left;
width: 180px;
text-align: right;
padding-top: 5px;
}
.form-field {
float: left;
margin-left: 10px;
text-align: left;
}

/* ===== Product Summary Styles ===== */
.product-prevnext {
text-align: right;
}

.productsummary-container {
margin-top: 5px;
margin-bottom: 5px;
border-top: #999 solid 1px;
}

.productsummary {
position: relative;
padding: 5px;
border-bottom: #999 solid 1px;
/* using min-height as an alternative to clear: both; because that, in some browsers, will clear the top-level columns and not just in this div (Mozilla based, namely) */
min-height: 60px;
overflow: auto;
}

.productsummary .smallimage {
float: left;
/* position: absolute; top: 5px; left: 5px; */
margin: 0px 5px 5px 0px;
}
.productsummary .smallimage img {
border: #CCC solid 1px;
height: 50px;
}

.productsummary .productbuy {
float: right;
width: 130px;
margin: 5px;
text-align: right;
}

.productsummary .productinfo {
/* margin-left: 60px; */
text-align: left;
}

/* ===== Product Detail Styles ===== */
#productdetail #long-description {
margin-top: 10px;
padding-top: 5px;
border-top: #999 solid 1px;
}

#productdetail #reviews {
margin-top: 10px;
padding-top: 5px;
border-top: #999 solid 1px;
}

#productdetail #associated-products {
margin-top: 10px;
padding-top: 5px;
border-top: #999 solid 1px;
}

.treeWrapper { 
color:black; 
background:#ffffff; 
font-size:12pt; 
font-weight:medium;
font-family:verdana, arial, sans-serif;
text-align:left;
text-decoration:none;
margin-left:12px;
margin-top:2px;
border-top:1px solid black;
border-left:1px solid black;
}
.lefthalf{
left:0;
width:49%;
height:1%;
margin:0% 1% 1% 0%;
float:left;
}
.righthalf {
float:right;
height:1%;
width:49%;
right:0;
margin:0 0 1% 1%;
}
.leftclear{
height:1%;
clear: left;
}
