<#--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
.autocomplete {
    position: absolute;
    height: 200px;
    display: none;
    background-color: #EEEEEE;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.autocomplete ul li.selected {
    background-color: yellow;
 }

.autocomplete ul li {
    display: block;
    margin: 0px;
    padding: 2px;
    cursor: pointer;
    background-color: #EEEEEE;
    width: 305px;
}

.tableButtons {
    width: 100%;
    height: 100%;
}

.tableButtons td {
    border: 1px solid #0099CC;
    background-color: #fece2f;
    background-repeat: repeat-x;
    text-align: center;
    border-width: 2px;
    padding-left: 0.5em;
    height: 5em;
    width: 5em;

}
.pos-cart-odd {
    background-color: white;
    overflow: auto;
}
.pos-cart-odd:hover {
    background-color: #FFFCCF;
    cursor: pointer;
}
.pos-cart-even {
    background-color: #eeeeee;
    overflow: auto;
}
.pos-cart-even:hover {
    background-color: #FFFCCF;
    cursor: pointer;
}
.pos-cart-choose {
    background: #fece2f 50% 50% repeat-x;
}
.errorPosMessage {
    background-color: #FF0000;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFFCCF;
    overflow: auto;
}
#posButton {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#posButton li {
    margin: 2px;
    padding: 1px;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 10px;
    font-size: 0.90em;
    text-align: center;
    overflow: hidden;
}
.notSelectedButton {
    border: 1px solid #d19405;
    background: #fece2f 50% 50% repeat-x;
    font-weight: bold;
    color: black;
    outline: none;
}
.notSelectedButton a, .notSelectedButton a:link, .notSelectedButton a:visited, .notSelectedButton a:hover {
    color: black;
    text-decoration: none;
    outline: none;
}
.selectedButton {
    border: 1px solid #d19405;
    background: #f39814 50% 50% repeat-x;
    font-weight: bold;
    color: white;
    outline: none;
}
.selectedButton a, .selectedButton a:link, .selectedButton a:visited, .selectedButton a:hover {
    color: white;
    text-decoration: none;
    outline: none;
    cursor: hand;
}
.linkButton {
    width: 60px;
    height: 40px;
    line-height: 10px;
    font-size: 0.90em;
    text-align: center;
    overflow: hidden;
}
#posShortcut {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#posShortcut li {
    margin: 2px;
    padding: 1px;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 20px;
    font-size: 0.90em;
    text-align: center;
}
.notSelectedShortcut {
    border: 1px solid #d19405;
    background: #fece2f 50% 50% repeat-x;
    font-weight: bold;
    color: black;
    outline: none;
}
.notSelectedShortcut a, .notSelectedShortcut a:link, .notSelectedShortcut a:visited, .notSelectedShortcut a:hover {
    color: black;
    text-decoration: none;
    outline: none;
}
.selectedShortcut {
    border: 1px solid #d19405;
    background: #f39814 50% 50% repeat-x;
    font-weight: bold;
    color: white;
    outline: none;
}
.selectedShortcut a, .selectedShortcut a:link, .selectedShortcut a:visited, .selectedShortcut a:hover {
    color: white;
    text-decoration: none;
    outline: none;
    cursor: hand;
}
input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #0099CC;
    background: #FFFCCF;
}
#TopBar {
    height: 130px;
    width: 100%;
}
#TopBar .leftTopBar {
    float: left;
    width: 58%;
}
#TopBar .rightTopBar {
    float: right;
    width: 40%;
}
#centerTopBarLeft {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
}
#centerTopBarRight {
    float: right;
    margin-left: 5px;
    margin-right:5px;
    width: auto;
}
#SearchProducts {
    height: 100px;
}
#searchProductsResults {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 0px;
    left: 25%;
    width: 50%;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}
.searchProductsResultsHead {
    height: 30px;
}
.searchProductsResultsCartBody {
    height: 186px;
    max-height: 186px;
    overflow-x: hidden;
    overflow-y: auto;
}
#searchPartiesResults {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 0px;
    right: 0%;
    width: 65%;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}
.searchPartiesResultsHead {
    height: 30px;
}
.searchPartiesResultsCartBody {
    height: 168px;
    max-height: 168px;
    overflow-x: hidden;
    overflow-y: auto;
}
#SearchSalesRepsList {
    border: 1px solid #0099CC;
    overflow: auto; 
    height: 120px;
}
#SearchSalesReps {
    height: 110px;
}
#CustomerAddressList {
    height: 120px;
}
#customerAddress {
    border: 1px solid #0099CC;
    overflow: auto; 
    height: 110px;
}
#billingAddressSelected  {
    color: white;
}
#shippingAddressSelected {
    color: white;
}
.selectedAddress {
    border: 1px solid #0099CC;
    background-color: #fece2f;
}
#CenterBar {
    margin-top: 48px;
    height: auto;
}
.leftCenterBar {
    float: left;
    width: 24em;
    margin-right: 1em;
}
.rightCenterBar  {
    float: right;
    margin-left: 1em;
    width: 24em;
}
.centerCenterBar  {
    margin-left: 24em;
    margin-right: 24em;
    width: auto;
}
#CartHeader {
    height: 100px;
    width: 100%;
}
#Cart {
    height: 460px;
    width: 100%;
}
.basic-table .CartHead {
    height: 30px;
}
.basic-table .CartBody {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.basic-table .CartFoot {
    height: 30px;
}
#CartItemSelected {
    height: 130px;
    overflow: auto;
}
#CartItemSelectedLeft {
    float: left;
}
#CartItemSelectedRight {
    float: right;
}
#chooseVariant {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 40%;
    width: 20%;
    height: 280px;
}
#payCash {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 40%;
    width: 20%;
    height: 180px;
}
#payCheck {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 39%;
    width: 22%;
    height: 210px;
}
#payGiftCard {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 38%;
    width: 24%;
    height: 210px;
}
#payCreditCard {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 23%;
    width: 54%;
    height: 310px;
}
#payFinish {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 40%;
    width: 20%;
    height: 110px;
}
#openTerminal {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 38%;
    width: 24%;
    height: 130px;
}
#closeTerminal {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 30%;
    width: 40%;
    height: 250px;
}
#paidOutAndIn {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 30%;
    width: 40%;
    height: 200px;
}
#promo {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 36%;
    width: 28%;
    height: 150px;
}
#voidOrder {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 30%;
    width: 40%;
    height: 130px;
}
#editAddress {
    border: solid 4px #0099CC;
    background-color: #CCFFFF;
    position: absolute;
    top: 300px;
    left: 20%;
    width: 60%;
    height: 200px;
}
#pleaseWait {
    border: 1px solid #d19405;
    background: #fece2f url(/images/ajax-loader.gif) no-repeat center left;
    position: absolute;
    top: 50px;
    left: 85%;
    width: 13%;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}