/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* THE CUSTOM CSS FOR AJUST THE HR TREE */
.jstree-0 li[rel="Y"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url("\images\Drawer_Closed.png");
}

.jstree-0 li[rel="N"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url(""\Users.png");
}

.jstree-0 li[rel="P"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url("\images\User.png");
}

.jstree-0 li[rel="C"] > a > .jstree-icon {
    background-position: 0px 0px !important;
    background-image:url("\images\Home.png");
}